@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-green-450
}

button {
    @apply m-3 px-4 py-3 bg-green-50 text-green-800 text-lg rounded-xl
}

#game-area {

}

#mode-wrapper {
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;

}

#game-area:focus { outline: none; }

a.snake-link, a.snake-link:link, a.snake-link:visited {
  color: #FCFC54;
}

a.snake-link:hover {
  color: #FfFf54;
}

.modal-wrapper {
    @apply hidden fixed inset-0 bg-black bg-opacity-20 text-base z-20 p-5 md:p-20 shadow-xl
}

.modal {
    @apply w-full h-full max-w-4xl mx-auto outline-none flex flex-col items-center justify-center
}

.snake-footer {
    @apply p-5 w-full absolute bottom-2 flex items-center justify-between space-x-3
}

.snake-panel-component {

}

.snake-snakebody-block {
    @apply absolute bg-gray-450
}

.snake-snakebody-alive {
    @apply bg-gray-450
}
.snake-snakebody-dead {
   
}

.snake-food-block {
    @apply absolute bg-gray-450
}

.snake-playing-field {
    
}

.snake-game-container {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: none;
    zoom: 1;
    position: relative;
}


.snake-welcome-dialog h1 {
    @apply font-bold
}


.snake-welcome-dialog, .snake-pause-screen, .snake-try-again-dialog, .snake-win-dialog {
    @apply p-5 text-gray-900 text-center bg-white shadow-md rounded-3xl
}

.snake-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index:10000;
    padding: 5px;
}