@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    @apply m-3 px-3 py-2 bg-gray-300 text-gray-800 rounded-xl
}

#game-area {
	
}

#mode-wrapper {
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;

}

#game-area:focus { outline: none; }

a.snake-link, a.snake-link:link, a.snake-link:visited {
  color: #FCFC54;
}

a.snake-link:hover {
  color: #FfFf54;
}

.snake-pause-screen {
    @apply hidden p-5 text-gray-900 bg-gray-100 absolute top-1/2 left-1/2 text-center 
}

.snake-panel-component {
    position: absolute;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    padding: 8px;
    margin: 0px;
}

.snake-snakebody-block {
    @apply absolute bg-gray-450
}

.snake-snakebody-alive {
    @apply bg-gray-450
}
.snake-snakebody-dead {
   
}

.snake-food-block {
    @apply absolute bg-gray-450
}

.snake-playing-field {
    @apply bg-green-450
}

.snake-game-container {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: none;
    zoom: 1;
    position: relative;
}

.snake-welcome-dialog {
    @apply p-5 text-gray-900 bg-gray-100 absolute top-1/2 left-1/2 text-center
}

.snake-welcome-dialog h1 {
    @apply font-bold
}


.snake-try-again-dialog, .snake-win-dialog {

    @apply hidden p-5 text-gray-900 bg-gray-100 absolute top-1/2 left-1/2 text-center
}
